In [1]:
import mysql.connector as connection
import re
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database Carbon_Nano;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'Carbon_Nano',user="root", passwd="mysql", use_pure=True)

    #create a new table to store glass data
    
    query = "CREATE TABLE IF NOT EXISTS table1(Chiral_indice_n VARCHAR(36), Chiral_indice_m VARCHAR(36), Initial_atomic_coordinate_u VARCHAR(36),"\
            "Initial_atomic_coordinate_v VARCHAR(36), Initial_atomic_coordinate_w VARCHAR(36), Calculated_atomic_coordinates_u VARCHAR(36),"\
            "Calculated_atomic_coordinates_v VARCHAR(36),"\
            "Calculated_atomic_coordinates_w VARCHAR(36))"
    values = "%s,%s,%s,%s,%s,%s,%s,%s"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.executemany(query, values)
    print("Table Created!!")
    
    
    with open('carbon_nanotubes.csv') as f:
        df = csv.reader(f, delimiter=";")
        all_values = []
        for i in df:
            value = (i[0],i[1],i[2],i[3],i[4],i[5],i[6],i[7],)
            all_values.append(value)

    query = "INSERT INTO table1 values(%s,%s,%s,%s,%s,%s,%s,%s)" 
    
    cursor.executemany(query, all_values)
    print("Values updated !!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

True
Database Created!!
Table Created!!
Values updated !!