## Assignment 10 Solutions

#### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, first_name, salary FROM employee) as HEllO WHERE R_NUM=5;

#### Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
CREATE TABLE Employee
(
   Name VARCHAR(20),
   Station INT,
   Salary DECIMAL(10,2)
);


INSERT INTO Employee VALUES
('Bob  ', 1      , 2000  ),
('Steve', 2      , 1750  ),
('Mark ', 3      , 2050  ),
('Lisa ', 4      , 2200  ),
('Hans ', 5      , 2000  );


#Solution

SELECT e.* 
FROM Employee e
INNER JOIN
(
   SELECT Salary
   FROM Employee
   GROUP BY Salary
   HAVING COUNT(*) > 1
) grp ON e.Salary = grp.Salary